.moreButton {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #27b087, #0e43a5);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Oswald", sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.moreButton2 {
  width: 400px;
  margin: auto;
}

@media (max-width: 375px) {
  .moreButton {
    margin-left: 33%;
  }
}
