.deleteButton {
  background-color: white;
  border: none;
  color: white;
  padding: 8px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid white;
  color: black;
}

.deleteButton:hover {
  background: linear-gradient(to right, #27b08746, #0e43a565);
  color: white;
}

.addNote_ {
  font-size: 13px;
  font-weight: 600;
}
